# Joining and Subquerying Data

### Unifying Results

In [3]:
SHOW DATABASES;
USE rookery;

In [4]:
SELECT 'Pelecanidae' AS 'Family',
COUNT(*) AS 'Species'
FROM birds, bird_families AS families
WHERE birds.family_id = families.family_id
ND families.scientific_name = 'Pelecanidae'
UNION
SELECT 'Ardeidae',
COUNT(*)
FROM birds, bird_families AS families
WHERE birds.family_id = families.family_id
AND families.scientific_name = 'Ardeidae';

ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'ND families.scientific_name = 'Pelecanidae' UNION SELECT 'Ardeidae', COUNT(*)...' at line 1

In [5]:
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Species'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
ROUP BY families.family_id
UNION
SELECT families.scientific_name, COUNT(*)
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Suliformes'
GROUP BY families.family_id;

ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'ROUP BY families.family_id UNION SELECT families.scientific_name, COUNT(*) FR...' at line 1

In [6]:
ELECT * FROM
(
SELECT families.scientific_name AS 'Family',
COUNT(*) AS 'Species',
orders.scientific_name AS 'Order'
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Pelecaniformes'
GROUP BY families.family_id
UNION
SELECT families.scientific_name, COUNT(*), orders.scientific_name
FROM birds, bird_families AS families, bird_orders AS orders
WHERE birds.family_id = families.family_id
AND families.order_id = orders.order_id
AND orders.scientific_name = 'Suliformes'
GROUP BY families.family_id ) AS derived_1
ORDER BY Family;

ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'ELECT * FROM ( SELECT families.scientific_name AS 'Family', COUNT(*) AS 'Spec...' at line 1

### Joining Tables

In [8]:
USE test;

In [9]:
SELECT book_id, title, status_name
FROM books JOIN status_names
WHERE status = status_id;

In [10]:
SELECT book_id, title, status_name
FROM books
JOIN status_names ON(status = status_id);

In [11]:
SELECT book_id, title, status_name
FROM books
JOIN status_names USING(status_id);

ERROR 1054 (42S22): Unknown column 'status_id' in 'from clause'

### Selecting a Basic Join

In [20]:
USE rookery;
SELECT common_name, conservation_state
FROM birds
JOIN conservation_status
ON(birds.conservation_status_id = conservation_status.conservation_status_id)
WHERE conservation_category = 'Threatened'
AND common_name LIKE '%Goose%';

ERROR 1054 (42S22): Unknown column 'birds.conservation_status_id' in 'on clause'

In [21]:
SELECT common_name, conservation_state
FROM birds
JOIN conservation_status
ON(birds.conservation_status_id = conservation_status.conservation_status_id)
WHERE conservation_category = 'Threatened'
AND common_name LIKE '%Goose%';

ERROR 1054 (42S22): Unknown column 'birds.conservation_status_id' in 'on clause'

In [22]:
SELECT common_name, conservation_state
FROM birds
JOIN conservation_status
USING(conservation_status_id)
WHERE conservation_category = 'Threatened'
AND common_name LIKE '%Goose%';

ERROR 1054 (42S22): Unknown column 'conservation_status_id' in 'from clause'

In [23]:
SELECT CONCAT(name_first, ' ', name_last) AS Birder,
common_name AS Bird, location_gps AS 'Location of Sighting'
FROM birdwatchers.humans
JOIN birdwatchers.bird_sightings USING(human_id)
JOIN rookery.birds USING(bird_id)
JOIN rookery.bird_families USING(family_id)
WHERE country_id = 'ru'
AND bird_families.scientific_name = 'Scolopacidae'
ORDER BY Birder;

ERROR 1146 (42S02): Table 'birdwatchers.bird_sightings' doesn't exist

In [25]:
SELECT common_name AS 'Bird',
conservation_state AS 'Status'
FROM birds
LEFT JOIN conservation_status USING(conservation_status_id)
WHERE common_name LIKE '%Egret%';

ERROR 1054 (42S22): Unknown column 'conservation_status_id' in 'from clause'

### Summary

Many developers prefer subqueries—I do. They’re easier to construct and decipher
when you have problems later. If you work on a database that is very large and has a
huge amount of activity, subqueries may not be a good choice because they can some‐
times affect performance. For small databases, though, they’re fine. You should learn to
use subqueries and learn how to work without them (i.e, use JOIN ) so you can handle
any situation presented to you. You cannot be sure which method your next employer
and team of developers may being using. It’s best to be versatile.
As for learning to use JOIN , that’s hardly optional. Very few developers don’t use JOIN .
Even if you prefer subqueries, they still call for JOIN . You can see this in almost all of
the examples of subqueries in this chapter. You may rarely use UNION . But there’s not
much to learn there. However, you should be proficient in using JOIN . So don’t avoid
them; practice manually entering SQL statements that use them. The act of typing them
helps.