# Creating Databases and Tables

### Creating a Database

In [1]:
CREATE DATABASE rookery;

In [2]:
DROP DATABASE rookery;
CREATE DATABASE rookery
CHARACTER SET latin1
COLLATE latin1_bin;

In [3]:
SHOW DATABASES;

In [5]:
USE rookery;

### Creating Tables

In [6]:
CREATE TABLE birds (
bird_id INT AUTO_INCREMENT PRIMARY KEY,
scientific_name VARCHAR(255) UNIQUE,
common_name VARCHAR(50),
family_id INT,
description TEXT);

In [8]:
DESCRIBE birds;

### Inserting Data

In [9]:
INSERT INTO birds (scientific_name, common_name)
VALUES ('Charadrius vociferus', 'Killdeer'),
('Gavia immer', 'Great Northern Loon'),
('Aix sponsa', 'Wood Duck'),
('Chordeiles minor', 'Common Nighthawk'),
('Sitta carolinensis', ' White-breasted Nuthatch'),
('Apteryx mantelli', 'North Island Brown Kiwi');

In [10]:
SELECT * FROM birds;

In [27]:
CREATE DATABASE birdwatchers;
CREATE TABLE birdwatchers.humans
(human_id INT AUTO_INCREMENT PRIMARY KEY,
formal_title VARCHAR(25),
name_first VARCHAR(25),
name_last VARCHAR(25),
email_address VARCHAR(255));

In [28]:
DESCRIBE birdwatchers.humans;

In [29]:
INSERT INTO birdwatchers.humans
(name_first, name_last, email_address)
VALUES
('Mr.', 'Russell', 'Dyer', 'russell@mysqlresources.com'),
('Mr.', 'Richard', 'Stringer', 'richard@mysqlresources.com'),
('Ms.', 'Rusty', 'Osborne', 'rusty@mysqlresources.com'),
('Ms.', 'Lexi', 'Hollar', 'alexandra@mysqlresources.com');

ERROR 1136 (21S01): Column count doesn't match value count at row 1

### More Perspectives on Tables

In [30]:
SHOW CREATE TABLE birds;

In [31]:
CREATE TABLE bird_families (
family_id INT AUTO_INCREMENT PRIMARY KEY,
scientific_name VARCHAR(255) UNIQUE,
brief_description VARCHAR(255) );

In [32]:
CREATE TABLE bird_orders (
order_id INT AUTO_INCREMENT PRIMARY KEY,
scientific_name VARCHAR(255) UNIQUE,
brief_description VARCHAR(255),
order_image BLOB
) DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;

### Summary

You have many more possibilities when creating tables. There are options for setting
different types of storage engines. We touched on that in this chapter, but there’s much
more to that. You can also create some tables with certain storage engines that will allow
you to partition the data across different locations on the server’s hard drives. The storage
engine can have an impact on the table’s performance. Some options and settings
are rarely used, but they’re there for a reason. For now, we’ve covered enough options
and possibilities when creating tables.
What we have covered in this chapter may actually be a bit overwhelming, especially
the notion of reference tables like bird_families and bird_orders. Their purpose
should become clearer in time. Chapter 5 provides some clarification on tables, and will
show you how to alter them. There are additional examples of inserting and selecting
data interspersed throughout that chapter. Before moving on, make sure to complete
the exercises in the following section. They should help you to better understand how
tables work and are used.