### String Functions

### Concatenating Strings

In [1]:
SELECT CONCAT(formal_title, '. ', name_first, SPACE(1), name_last) AS Birder,
CONCAT(common_name, ' - ', birds.scientific_name) AS Bird,
time_seen AS 'When Spotted'
FROM birdwatchers.bird_sightings
JOIN birdwatchers.humans USING(human_id)
JOIN rookery.birds USING(bird_id)
GROUP BY human_id DESC
LIMIT 4;

ERROR 1146 (42S02): Table 'birdwatchers.bird_sightings' doesn't exist

In [3]:
mysql -p --skip-column-names -e \
"SELECT CONCAT_WS('|', formal_title, name_first, name_last,
street_address, city, state_province, postal_code, country_id)
FROM birdwatchers.humans WHERE membership_type = 'premium'
AND membership_expiration > CURDATE();" > rookery_patch_mailinglist.txt;

ERROR: Unknown command '\ '.

In [5]:
USE rookery;

### Setting Case and Quotes

SELECT LCASE(common_name) AS Species,
UCASE(bird_families.scientific_name) AS Family
FROM birds
JOIN bird_families USING(family_id)
WHERE common_name LIKE '%Wren%'
ORDER BY Species
LIMIT 5;

In [7]:
SELECT QUOTE(common_name)
FROM birds
WHERE common_name LIKE "%Prince%"
ORDER BY common_name;

### Summary

There are more string functions available in MySQL and MariaDB. A few of the func‐
tions mentioned here have aliases or close alternatives. There are also functions for
converting between ASCII, binary, hexadecimal, and octal strings. And there are also
string functions related to text encryption and decryption that were not mentioned.
However, I think this chapter has given you a good collection of common string func‐
tions that will assist you in building more powerful SQL statements and formatting
results to be more attractive.